html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    /* optional, ensures no white shows */
}

@font-face {
    font-family: 'Couture';
    src: url('/src/assets/fonts/couture-bld.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Couture';
    src: url('/src/assets/fonts/couture-bldit.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Asimov';
    src: url('/src/assets/fonts/Asimov.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
.hero__title {
    font-family: 'Couture', sans-serif;
    letter-spacing: 0.05em;
}

body {
    overflow-x: hidden;
    /* prevents tiny horizontal scrollbars */
}